<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

</head>
<body>
	<div class="container">

		<div class="row">
            <div class="col-xs-3">
            </div>
            <div class="col-xs-6 text-center">
                <img src="/img/logo_trans.png" alt="wut" width="400px">
            </div>
            <div class="col-xs-3">
            </div>
        </div>

		<!---
		<div class="titlePanel">
			<h1>ChatCAT | Login</h1>
		</div>
		--> 


		<div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8 text-center">
				<h3>Find a Study Group for all Your MOOCs</h3>
            </div>
            <div class="col-xs-2">
            </div>
        </div>

		<div class="row" style="margin-top:30px">
			            <div class="col-xs-3">
            </div>
            <div class="col-xs-6 text-center">
							
					<div class="loginButton">

						<a href="/auth/facebook">
							<img id="loginBtnImg" src="/img/fbLoginBtn.png" alt="Sign-In with Facebook">
						</a>

						<a href="/auth/twitter">
							<img id="loginBtnImg" src="/img/twLoginBtn.png" alt="Sign-In with Twitter">
						</a>

						<a href="/auth/linkedin">
							<img id="loginBtnImg" src="/img/linkedin.png" alt="Sign-In with Twitter">
						</a>

					</div>


            </div>
            <div class="col-xs-3">
            </div>

		</div>



	</div>
</body>
</html>